@using DrizlyBackEnd.Services
@using Microsoft.AspNetCore.Identity
@inject LayoutService layoutService
@inject UserManager<AppUser> usermanager
@{
    var message = layoutService.GetUnreadMessages();
    var settings = layoutService.GetSettings();

    AppUser admin = null;
    if (User.Identity.IsAuthenticated)
    {
        admin = usermanager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && x.IsAdmin);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Drizly: Admin Panel</title>
    <!-- loader-->
    @*<link href="~/manage/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/manage/assets/js/pace.min.js"></script>*@
    <!--favicon-->
    <link rel="icon" href="~/manage/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/manage/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/manage/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/manage/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/manage/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/manage/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/manage/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Toastr Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom Style-->
    <link href="~/manage/assets/css/app-style.css" rel="stylesheet" />
    <!-- Fav Ico -->
    <link rel="icon" type="image/x-icon" href="~/assets/Media/drizlyfavico.ico">
    @*Bootstrap Fonts*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>

<body class="bg-theme bg-theme2">
    @if (TempData["Success"] != null)
    {
        <input type="hidden" id="success-toaster" value="@TempData["Success"]" />
    }
    @if (TempData["Warning"] != null)
    {
        <input type="hidden" id="warning-toaster" value="@TempData["Warning"]" />
    }
    @if (TempData["Info"] != null)
    {
        <input type="hidden" id="info-toaster" value="@TempData["Info"]" />
    }
    @if (TempData["Error"] != null)
    {
        <input type="hidden" id="error-toaster" value="@TempData["Error"]" />
    }
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a asp-controller="dashboard" asp-action="index">
                    <img src="~/uploads/settings/@settings["HeaderLogo"]" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">Drizly Admin</h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a asp-controller="dashboard" asp-action="index">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="setting" asp-action="index">
                        <i class="fas fa-cogs"></i> <span>Settings</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="service" asp-action="index">
                        <i class="fas fa-align-center"></i> <span>Services</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="partnership" asp-action="index">
                        <i class="fas fa-handshake"></i> <span>Partners</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="position" asp-action="index">
                        <i class="fas fa-hourglass-start"></i> <span>Positions</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="employee" asp-action="index">
                        <i class="fas fa-user"></i> <span>Employees</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="news" asp-action="index">
                        <i class="bi bi-newspaper"></i> <span>News</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="product" asp-action="index">
                        <i class="fas fa-cocktail"></i> <span>Products</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="category" asp-action="index">
                        <i class="fa fa-list-alt" aria-hidden="true"></i> <span>Categories</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="typeproduct" asp-action="index">
                        <i class="fas fa-filter"></i> <span>Product Types</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="brand" asp-action="index">
                        <i class="fas fa-wine-glass"></i> <span>Brands</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="liquorcolor" asp-action="index">
                        <i class="fas fa-palette"></i> <span>Liquor Colors</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="liquorflavor" asp-action="index">
                        <i class="fas fa-wine-bottle"></i> <span>Liquor Flavors</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="winefoodpairing" asp-action="index">
                        <i class="fas fa-utensils"></i> <span>Wine Food Pairings</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="comment" asp-action="index">
                        <i class="fas fa-solid fa-comment"></i> <span>All Products' Reviews</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="message" asp-action="index">
                        <i class="bi bi-chat-dots-fill"></i> <span>Messages</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="order" asp-action="index">
                        <i class="fas fa-shopping-bag"></i> <span>Orders</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="coupon" asp-action="index">
                        <i class="bi bi-currency-exchange"></i> <span>Coupons</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="banword" asp-action="index">
                        <i class="bi bi-exclamation-octagon-fill"></i> <span>Banned Words</span>
                    </a>
                </li>

                @if (User.IsInRole("SuperAdmin"))
                {
                    <li>
                        <a asp-controller="admin" asp-action="index">
                            <i class="zmdi zmdi-face"></i> <span>Admins</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li>
                        <a asp-controller="admin" asp-action="create" target="_blank">
                            <i class="zmdi zmdi-account-circle"></i> <span>Create New Admin</span>
                        </a>
                    </li>
                }
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Enter keywords">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" asp-controller="message" asp-action="index">
                            <i class="fa fa-envelope-open-o"></i>
                            <sup class="font-weight-bolder message-count-sup">@message</sup>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="~/uploads/admins/@(admin.Image==null?"avatar.png":admin.Image)" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="~/uploads/admins/@(admin.Image==null?"avatar.png":admin.Image)" alt="admin avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">@admin.FullName</h6>
                                            <p class="user-subtitle">@admin.Email</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> <a asp-action="profile" asp-controller="account">Profile</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> <a class="log-out-admin" asp-action="logout" asp-controller="account">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            @RenderBody()
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2022 Drizly Admin
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->
    <!-- Jquery Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*Sweet Alert Cdn*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Sweet Alert Script -->
    <script src="~/assets/Js/sweetalert.js"></script>
    @*Product Create Script*@
    <script src="~/assets/Js/productcreate.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/manage/assets/js/jquery.min.js"></script>
    <script src="~/manage/assets/js/popper.min.js"></script>
    <script src="~/manage/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/manage/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/manage/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="~/manage/assets/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="~/manage/assets/js/app-script.js"></script>
    <!-- Chart js -->
    <!-- FontAwesome scripts-->
    <script src="https://kit.fontawesome.com/51866e0675.js" crossorigin="anonymous"></script>
    <script src="~/manage/assets/plugins/Chart.js/Chart.min.js"></script>
    <!-- Index js -->
    <script src="~/manage/assets/js/index.js"></script>
    @*Toastr Script*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {
            if ($("#success-toaster").length) {
                toastr["success"]($("#success-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#warning-toaster").length) {
                toastr["warning"]($("#warning-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#info-toaster").length) {
                toastr["info"]($("#info-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#error-toaster").length) {
                toastr["error"]($("#error-toaster").val());
            }
        });
    </script>
</body>

</html>

