@model HomeViewModel
@using DrizlyBackEnd.Services
@using Microsoft.AspNetCore.Identity
@inject LayoutService layoutService
@inject UserManager<AppUser> usermanager
@{
    ViewData["Title"] = "Drizly: Your Online Liquor Store - Buy Beer, Wine & Liquor";
    var settings = layoutService.GetSettings();
    AppUser member = null;
    if (User.Identity.IsAuthenticated)
    {
        member = usermanager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
}
<main>
    <!-- Hero Section -->
    <section class="herosection">
        <div class="hero-content-centered">
            <h1>Let the drinks come to you.</h1>
            <h2>Beer, wine and liquor delivered in under 60 minutes.</h2>
            <div class="search-hero-wrapper">
                <div class="search-hero">
                    <div class="search-input-hero">
                        <input type="search" placeholder="Search the drink that you are looking for...">
                        <div class="hero-search-dropdown" style="display: none;">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-gentleman-jack-fbcb12928d7db1ba.jpeg?w=64">
                                        <span>Jack Daniel's Gentleman Jack Tennessee Whiskey</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-gentleman-jack-fbcb12928d7db1ba.jpeg?w=64">
                                        <span>Jack Daniel's Gentleman Jack Tennessee Whiskey</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-gentleman-jack-fbcb12928d7db1ba.jpeg?w=64">
                                        <span>Jack Daniel's Gentleman Jack Tennessee Whiskey</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-gentleman-jack-fbcb12928d7db1ba.jpeg?w=64">
                                        <span>Jack Daniel's Gentleman Jack Tennessee Whiskey</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="search-submit-button"><i class="fas fa-arrow-right"></i></button>
                </div>

            </div>
        </div>
        <img class="left-hero float-left" src="~/uploads/settings/@Model.Settings.Find(c => c.Key == "LeftSideHero")?.Value">
        <img class="right-hero float-right" src="~/uploads/settings/@Model.Settings.Find(c => c.Key == "RightSideHero")?.Value">
        <svg role="presentation" class="red-angle-desktop" viewbox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#A42121" points="0,77 0,85 100,8 100,1"></polygon>
            <polygon fill="#E12C2C" points="0,84 0,100 100,100 100,7"></polygon>
        </svg>
        <svg role="presentation" class="red-angle-mobile" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#A42121" points="0,37 0,45 100,8 100,1"></polygon>
            <polygon fill="#E12C2C" points="0,44 0,100 100,100 100,8"></polygon>
        </svg>
    </section>
    <!-- How It Works Section -->
    <section class="howitworkssection">
        <span>
            <h2>Talk Drizly to me.</h2>
            <p>Our Services:</p>
            <ul class="steps-howitworks">
                @foreach (var service in Model.Services)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                    <li style="margin: 0 auto">
                        <div class="circle-text">
                            <img width="60" height="60" src="~/uploads/services/@service.Image" alt="service">
                            <h3 style="word-break: break-word">@service.Title</h3>
                            <p style="word-break: break-word">@service.Desc</p>
                        </div>
                    </li>
                    </div>
                }

            </ul>
            <a asp-controller="@(member==null?"account":"shop")" asp-action="@(member==null?"register":"index")"asp-route-id="@(member!=null?"1":"")" class="lets-do-this" role="button">Let's get start</a>
            </span>
    </section>
    <!-- Brands Slider Section -->
    <section class="brand-area section-padding">
        <div class="row">
            <div class="col-12">
                <div class="brand-active-carousel">
                    @foreach (var partner in Model.Partnerships)
                    {
                        <div class="brand-item">
                            <img src="~/uploads/partnerships/@partner.Image" alt="partner-image">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- You want it We Got It,Shop Now Section -->
    <section class="shopnow">
        <div class="col image-col">
            <img src="~/uploads/settings/@Model.Settings.Find(c => c.Key == "Promotion1Image")?.Value" alt="shop-now-image">
        </div>
        <div class="col">
            <article>
                <h2>@Model.Settings.Find(c => c.Key == "Promotion1Title")?.Value</h2>
                <p>@Model.Settings.Find(c => c.Key == "Promotion1Desc")?.Value</p>
                <a href="#" role="button">Check ‘Em Out</a>
            </article>
        </div>
    </section>
    <!-- Categories Section -->
    <section class="categoriessection">
        <article class="categoriescol col-lg-3 ">
            <header>Beer <i class="fas fa-chevron-down"></i></header>
            <input class="categoriesmobile" type="checkbox">
            <ul>
                <li>
                    <a href="#">Lager</a>
                </li>
                <li>
                    <a href="#">IPA</a>
                </li>
                <li>
                    <a href="#">Belgian Ale</a>
                </li>
                <li>
                    <a href="#">Cider</a>
                </li>
                <li>
                    <a href="#">Kegs</a>
                </li>
                <li>
                    <a class="showmore-category" href="#">Show More <i class="fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </article>
        <article class="categoriescol col-lg-3 ">
            <header>Wine <i class="fas fa-chevron-down"></i></header>
            <input class="categoriesmobile" type="checkbox">
            <ul>
                <li>
                    <a href="#">White Wine</a>
                </li>
                <li>
                    <a href="#">Red Wine</a>
                </li>
                <li>
                    <a href="#">Champagne</a>
                </li>
                <li>
                    <a href="#">Rose Wine</a>
                </li>
                <li>
                    <a href="#">Sake</a>
                </li>
                <li>
                    <a class="showmore-category" href="#">Show More <i class="fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </article>
        <article class="categoriescol col-lg-3 ">
            <header>Liquor <i class="fas fa-chevron-down"></i></header>
            <input class="categoriesmobile" type="checkbox">
            <ul>
                <li>
                    <a href="#">Vodka</a>
                </li>
                <li>
                    <a href="#">Buorbon Whiskey</a>
                </li>
                <li>
                    <a href="#">Tequila</a>
                </li>
                <li>
                    <a href="#">Gin</a>
                </li>
                <li>
                    <a href="#">Rum</a>
                </li>
                <li>
                    <a class="showmore-category" href="#">Show More <i class="fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </article>
        <article class="categoriescol col-lg-3 ">
            <header>Extras <i class="fas fa-chevron-down"></i></header>
            <input class="categoriesmobile" type="checkbox">
            <ul>
                <li>
                    <a href="#">Mixers</a>
                </li>
                <li>
                    <a href="#">Energy Drinks<i class="fab fa-star-of-david"></i></a>
                </li>
                <li>
                    <a href="#">Mineral Water</a>
                </li>
                <li>
                    <a href="#">Fruit Juices</a>
                </li>
                <li>
                    <a href="#">Soft Drinks</a>
                </li>
                <li>
                    <a class="showmore-category" href="#">Show More <i class="fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </article>
    </section>
    <!-- Bestseller Drinks Section -->
    <section class="bestsellersection">
        <ul class="products-slider">
            <li class="category-slide">
                <div class="category-name">
                    <p>On Sale</p>
                </div>
                <div class="drinks-slider-wrapper">
                    <ul class="drink-slider">
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <div class="drink-on-sale">On Sale</div>
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <div class="drink-on-sale">Best Seller</div>
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <div class="drink-on-sale">Featured</div>
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="drink-slides">
                            <div class="whole-product-slide">
                                <div class="drink-slide-info">
                                    <a href="#">
                                        <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                    </a>
                                    <div class="drink-name">
                                        <p>Vdoodoo Ranger Juice Force IPA</p>
                                    </div>
                                    <div class="drink-price">
                                        <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                        <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                    </div>
                                    <div class="drink-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="review-count">214</span>
                                    </div>
                                </div>
                                <div class="add-to-basket">
                                    <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <!-- Quote Banner Section -->
    <section class="quotebannersection">
        <div class=" image-side">
            <div class="quote-image-container">
                <img src="~/uploads/settings/@Model.Settings.Find(c => c.Key == "QuoteImage")?.Value" alt="quote-image">
                <svg class="desktop-svg-quote" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="#E12C2C" points="100,0 88,0 0,100 12,100"></polygon>
                    <polygon fill="#FFFFFF" points="100,0 12,100 100,100"></polygon>
                </svg>
                <svg class="mobile-svg-quote" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="#E12C2C" points="0,92 100,0 100,8 0,100"></polygon>
                    <polygon fill="#FFFFFF" points="0,100 100,8 100,100"></polygon>
                </svg>
            </div>
        </div>
        <div class="quote-side">
            <blackquote>
                <svg role="presentation" width="65px" height="53px" viewBox="0 0 65 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15452939">
                        <g transform="translate(-102.000000, -1340.000000)" fill="#333333">
                            <g transform="translate(-96.000000, 418.000000)">
                                <g transform="translate(198.000000, 922.000000)">
                                    <path d="M51.075,52.425 C44.425,52.425 35.15,47.35 35.15,32.125 C35.15,13.75 47.4,4.125 51.425,0.8 C52.65,-0.075 53.875,-0.425 55.275,1.15 L57.9,3.775 C59.125,5.175 58.775,6.75 57.725,7.625 C55.8,9.025 45.475,16.725 45.3,28.625 C45.3,28.625 48.275,27.4 52.3,27.4 C59.125,27.4 64.9,32.825 64.9,39.825 C64.9,46.65 59.125,52.425 51.075,52.425 Z M16.25,52.425 C9.6,52.425 0.325,47.35 0.325,32.125 C0.325,13.75 12.575,4.125 16.6,0.8 C17.825,-0.075 19.05,-0.425 20.45,1.15 L23.075,3.775 C24.3,5.175 23.95,6.75 22.9,7.625 C20.975,9.025 10.65,16.725 10.475,28.625 C10.475,28.625 13.45,27.4 17.475,27.4 C24.3,27.4 30.075,32.825 30.075,39.825 C30.075,46.65 24.3,52.425 16.25,52.425 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="quote-paragraph">@Model.Settings.Find(c => c.Key == "QuoteContent")?.Value</p>
            </blackquote>
            <cite>- @Model.Settings.Find(c => c.Key == "QuoteOwner")?.Value<cite>
        </div>
    </section>
    <!-- Recent Comments Section -->
    <section class="recentcommentsection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="recentcomment-header">Recent Comments</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card comment-card">
                        <div class="card-body">
                            <h5 class="card-title">Elnur Khalilov</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <ul class="customer-rate-ul">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </h6>
                            <p class="card-text">Its OK but its lack of save features makes it not the best.</p>
                            <p class="comment-date text-muted font-weight-light font-italic">22.02.2022 16:28pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card comment-card">
                        <div class="card-body">
                            <h5 class="card-title">Rashad Mammadov</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <ul class="customer-rate-ul">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </h6>
                            <p class="card-text">It wouldn't let me create and organize lists. No titles, no deleting..</p>
                            <p class="comment-date text-muted font-weight-light font-italic">12.18.2021 19:10pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card comment-card">
                        <div class="card-body">
                            <h5 class="card-title">Polad Agayev</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <ul class="customer-rate-ul">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </h6>
                            <p class="card-text">La aplicación es buena, aunque he tenido mejores en itunes.</p>
                            <p class="comment-date text-muted font-weight-light font-italic">09.11.2022 10:16am</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card comment-card">
                        <div class="card-body">
                            <h5 class="card-title">Tabriz Sapharov</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <ul class="customer-rate-ul">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </h6>
                            <p class="card-text">I wanted a list that I could add to if I have another thing to add, sadly no.</p>
                            <p class="comment-date text-muted font-weight-light font-italic">31.05.2022 22:49pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recently Bought Section -->
    <section class="recently-bought-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Recently Bought</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                        <div class="whole-product-slide">
                            <div class="drink-slide-info">
                                <a href="#">
                                    <div class="drink-on-sale">On Sale</div>
                                    <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                </a>
                                <div class="drink-name">
                                    <p>Vdoodoo Ranger Juice Force IPA</p>
                                </div>
                                <div class="drink-price">
                                    <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                    <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                </div>
                                <div class="drink-rate">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="review-count">214</span>
                                </div>
                            </div>
                            <div class="add-to-basket">
                                <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                        <div class="whole-product-slide">
                            <div class="drink-slide-info">
                                <a href="#">
                                    <div class="drink-on-sale">On Sale</div>
                                    <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                </a>
                                <div class="drink-name">
                                    <p>Vdoodoo Ranger Juice Force IPA</p>
                                </div>
                                <div class="drink-price">
                                    <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                    <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                </div>
                                <div class="drink-rate">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="review-count">214</span>
                                </div>
                            </div>
                            <div class="add-to-basket">
                                <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                        <div class="whole-product-slide">
                            <div class="drink-slide-info">
                                <a href="#">
                                    <div class="drink-on-sale">On Sale</div>
                                    <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                </a>
                                <div class="drink-name">
                                    <p>Vdoodoo Ranger Juice Force IPA</p>
                                </div>
                                <div class="drink-price">
                                    <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                    <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                </div>
                                <div class="drink-rate">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="review-count">214</span>
                                </div>
                            </div>
                            <div class="add-to-basket">
                                <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                        <div class="whole-product-slide">
                            <div class="drink-slide-info">
                                <a href="#">
                                    <div class="drink-on-sale">On Sale</div>
                                    <img src="https://products0.imgix.drizly.com/ci-voodoo-ranger-juice-force-ipa-49cefbd02170c191.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20">
                                </a>
                                <div class="drink-name">
                                    <p>Vdoodoo Ranger Juice Force IPA</p>
                                </div>
                                <div class="drink-price">
                                    <p class="old-price-wrapper">$<span class="price-old">9.91</span></p>
                                    <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                </div>
                                <div class="drink-rate">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="review-count">214</span>
                                </div>
                            </div>
                            <div class="add-to-basket">
                                <a class="basket-icon" href="https://google.com"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main>
<!-- Are You Older than 21 -->
@if (member == null)
{
    <div class="age-gate-modal">
        <div class="age-gate-overlay">
        </div>
        <div class="age-modal">
            <img src="~/uploads/settings/@settings["HeaderLogo"]">
            <p class="welcome-to-drizly">Welcome to Drizly</p>
            <p class="are-you-21">Are you 21 or older?</p>
            <p class="age-desc-modal">You can’t spell “safe and responsible drinking culture” without “ID or else.”</p>
            <div class="age-submit-wrapper">
                <div class="age-submit">
                    <button class="age-no">NO</button>
                    <button class="age-yes">YES</button>
                </div>
                <p class="age-no-clicked">
                    Thank you for your honesty. Your reward is
                    <a href="https://m.youtube.com/watch?v=sfwiwj78TWg">this video</a>
                    of a SpongeBob episode.
                </p>
            </div>
        </div>
    </div>
}
@section Scripts{ 
    <script src="~/assets/Js/slickslider.js"></script>
}
