@model Order
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h1>Edit</h1>
            <div class="card">
                <div class="card-body">
                    
                    <h5 class="card-title">FullName: @Model.FullName</h5>
                    <h5 class="card-title">Phone: @Model.PhoneNumber</h5>
                    <h5 class="card-title">Email: @Model.Email</h5>
                    <h5 class="card-title">Country: @Model.Country</h5>
                    <h5 class="card-title">City: @Model.City</h5>
                    <h5 class="card-title">Address: @Model.Address</h5>
                    <h5 class="card-title">Post ZIP Code: @Model.PostZip</h5>
                    <h5 class="card-title">TotalPrice: @Model.TotalPrice</h5>
                    <h5 class="card-title">Order ID: @Model.Id</h5>
                    <h5 class="card-title">Date: <span style="color:darkred">@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm")</span></h5>


                    <form asp-action="edit" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<DrizlyBackEnd.Enums.OrderStatus>()">
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <button data-id="@Model.AppUserId" type="submit" class="btn btn-primary orderstatus-change">Save</button>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsAdmin{
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/OrderHub").build()
    connection.start()

    //COMMENT
    var select = document.getElementById("Status");
    let result = "";
    select.addEventListener("change", function () {

         result = this.selectedOptions[0].innerHTML;
    });
    let orderid = @Model.Id;

    $(".orderstatus-change").click(function () {
        var userid = $(this).attr("data-id");
        connection.invoke("OrderStatusChange", userid, result, orderid);
    });
</script>
 }
