@model BasketViewModel
@{
    var counter = 0;
}

@foreach (var item in Model.BasketItems)
{
    counter += item.Count;
    <li>
        <a href="#">
            <img src="~/uploads/products/@item.Product.Image" alt="product image">
        </a>
        <ul>
            <li><a href="#"><span class="product-name-basket">@item.Product.Name</span></a></li>
            <li><span class="basket-hover-totalprice">@item.Count x <span>@((item.Product.DiscountPercent>0?(item.Product.SalePrice*(1-item.Product.DiscountPercent/100)):item.Product.SalePrice).ToString("0.00"))$</span></span></li>
        </ul>
        <ul>
            <li><a href="#"><i class="bi bi-dash-circle"></i></a></li>
            <li><a asp-controller="shop" asp-action="AddBasket" asp-route-id="@item.Product.Id" class="basket-add"><i class="bi bi-plus-circle"></i></a></li>
        </ul>
    </li>
    <hr>
}
<input type="hidden" value="@counter" class="basket-counter" />

