@model AboutUsViewModel
@using DrizlyBackEnd.Services
@inject LayoutService layoutService
@{
    ViewData["Title"] = "Drizly: About Us";
    var settings = layoutService.GetSettings();
}
<main>
    <!-- About Us Section -->
    <section class="about-us-section">
        <div class="container">
            <div class="breadcumb-aboutus">
                <div class="mobile-breadcumb">
                    <img src="~/uploads/settings/@settings["AboutUsImageMobile"]" alt="mobile-about-us">
                </div>
                <div class="desktop-breadcumb">
                    <img src="~/uploads/settings/@settings["AboutUsImage"]" alt="about-us">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-us-content">
                        <h1>Our Story</h1>
                        <p>HI, WE'RE DRIZLY.</p>
                        <p>
                            @settings["AbourUsContent"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us-image">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/uploads/settings/@settings["AboutUsPromotion"]" alt="promotion-about-us">
                    </div>
                    <div class="col-lg-6">
                        <div class="aboutus-rightside">
                            <h2>Customers</h2>
                            <p>@settings["AboutUsPromotionContent"]</p>
                            <a href="@settings["AboutUsPromotionLink"]" class="shop-now">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-team">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Our Team</h1>
                    </div>
                </div>
                <div class="row">
                    @foreach (var employee in Model.Employees)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 team-member">
                            <img src="~/uploads/employees/@employee.Image" style="border-radius: 50%; object-fit:cover;" alt="team-member">
                            <p>@employee.FullName</p>
                            <span>@employee.Position.Name</span>
                        </div>
                    }

                </div>
            </div>
            <div class="in-the-news">
                <div class="row">
                    <h1>In the News</h1>
                </div>
                <div class="row">
                    <p>Featured In:</p>
                </div>
                <div class="row">
                    @foreach (var news in Model.News)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12 news">
                            <img src="~/uploads/news/@news.Image" alt="news">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
