@model PagenatedList<Product>

@{
    ViewData["Title"] = "Index";
    int counter = (Model.PageIndex - 1) * Model.PageSize;
    var temp = -1;
    if (Model.PageIndex == 1)
    {
        temp = 0;
    }
    if (Model.PageIndex == 0)
    {
        temp = 1;
    }
    if (temp == Model.TotalPages)
    {
        temp = -2;
    }

}

<head>
    <script src="https://kit.fontawesome.com/51866e0675.js" crossorigin="anonymous"></script>
</head>
<style>
    .comment-product:hover {
        color: red;
    }
</style>
<div class="content-wrapper" style="margin-left:-25px;padding-top:0px">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="d-flex justify-content-between m-4">
                    <h3>Products</h3>
                    <form asp-action="index" method="get" class="d-flex">
                        <div class="form-group" style="display:inherit">
                            <label for="isDeleted" class="mx-1">Delete status</label>
                            <select id="isDeleted" class="form-control" name="filter">
                                <!option class="option-filter" @(ViewBag.Filter == null ? "selected" : "") value=@(null)>All</!option>
                                <!option class="option-filter" @(ViewBag.Filter == "true" ? "selected" : "") value="true">True</!option>
                                <!option class="option-filter" @(ViewBag.Filter == "false" ? "selected" : "") value="false">False</!option>
                            </select>
                            <button type="submit" class="btn btn-primary filterbtn mx-2" style="height:39px">Filter</button>
                        </div>
                    </form>
                    <a asp-action="create" class="btn btn-success" style="height:39px">Create</a>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products Table</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Type Name</th>
                                        <th scope="col">Brand Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Code</th>
                                        @*<th scope="col">Comment Count</th>*@
                                        <th scope="col">Image</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        counter++;
                                    <tr>
                                        <th scope="row">@counter</th>
                                        <td>@product.TypeProduct.Category.Name</td>
                                        <td>@product.TypeProduct.Name</td>
                                        <td>@product.Brand.Name</td>
                                        <td>@product.Name</td>
                                        <td>@product.CodePref@product.CodeNum</td>
                                        @* <td><a class="comment-product px-5" asp-controller="comment" asp-action="index" asp-route-id="@product.Id">@product.ProductComments.Count</a></td>*@
                                        <td>
                                            <img width="50" class="border rounded" src="~/uploads/products/@product.Image" alt="Img Not Found" />
                                        </td>
                                        <td>
                                            <a asp-action="edit" asp-route-id="@product.Id" class="btn btn-warning @(product.IsDeleted?"disabled":"")">Edit</a>
                                            <a asp-action="@(product.IsDeleted?"restore":"delete")" asp-route-id="@product.Id" id="@product.Id" class="restoredelete btn btn-@(product.IsDeleted?"info":"danger delete-product")">@(product.IsDeleted?"Restore":"Delete")</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @if (Model.HasPrev)
                                    {
                                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1" asp-route-filter="@ViewBag.Filter"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" asp-route-filter="@ViewBag.Filter"><i class="fas fa-angle-left"></i></a></li>
                                    }

                                    @for (int i = 1; i <= 3; i++, temp++)
                                    {
                                        if ((Model.PageIndex + temp) != 0 && (Model.PageIndex + temp) != -1)
                                        {
                                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+temp)" asp-route-filter="@ViewBag.Filter" style="display:@((Model.PageIndex+temp)>Model.TotalPages?"none":"block")">@(Model.PageIndex+temp)</a></li>
                                        }

                                    }

                                    @if (Model.HasNext)
                                    {
                                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" asp-route-filter="@ViewBag.Filter"><i class="fas fa-angle-right"></i></a></li>
                                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@Model.TotalPages" asp-route-filter="@ViewBag.Filter"><i class="fas fa-angle-double-right"></i></a></li>
                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End Row-->
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->

</div>

<!--End content-wrapper-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
