@model DashboardViewModel
@{
    var totalsale = 0;
    foreach (var sale in Model.TotalOrders)
    {
        totalsale += (int)sale.TotalPrice;
    }
    //CALCULATE ORDER PERCENTAGE WEEKLY REPORT
    decimal orderpercent = 0;
    if (Model.TillLastWreekOrders.Count > 0)
    {
        orderpercent = (Model.ThisWeekOrders.Count() * 100) / Model.TillLastWreekOrders.Count();
    }
    //CALCULATE SALE PERCENTAGE WEEKLY REPORT
    decimal salepercent = 0;
    decimal tilllastweeksale = 0;
    decimal thisweeksale = 0;
    if (Model.TillLastWreekOrders.Count > 0)
    {
        foreach (var item in Model.TillLastWreekOrders)
        {
            tilllastweeksale += item.TotalPrice;
        }
        foreach (var item2 in Model.ThisWeekOrders)
        {
            thisweeksale += item2.TotalPrice;
        }
        salepercent = (thisweeksale * 100) / tilllastweeksale;
    }
    //CALCULATE WEBSITE VISITORS WEEKLY REPORT
    decimal visitor = 0;
    if (Model.WebSiteVisitorsLastWeek.Count > 0)
    {
        visitor = (Model.WebSiteVisitorsthisweek.Count() * 100) / Model.WebSiteVisitorsLastWeek.Count();
    }
    //CALCULATE MESSAGES WEEKLY REPORT
    decimal messages = 0;
    if (Model.LastWeekMessages.Count > 0)
    {
        messages = (Model.ThisWeekMessages.Count() * 100) / Model.LastWeekMessages.Count();
    }
    //PRODUCT COUNT WITH EACH CATEGORY
    var beercount = 0;
    var winecount = 0;
    var liquorcount = 0;
    var extracount = 0;
    foreach (var product in Model.Products)
    {
        if (product.CategoryId==1)
        {
            beercount++;
        }
        else if (product.CategoryId == 2)
        {
            winecount++;
        }
        else if (product.CategoryId == 3)
        {
            liquorcount++;
        }
        else if (product.CategoryId == 4)
        {
            extracount++;
        }
    }
    //CALCULATE EACH PRODUCT TOTAL SALE
    decimal beertotalsalecount = 0;
    decimal winetotalsalecount = 0;
    decimal liquortotalsalecount = 0;
    decimal extratotalsalecount = 0;
    foreach (var item in Model.CategoryTotalSale)
    {
        if (item.Product.CategoryId == 1)
        {
            beertotalsalecount += item.SalePrice*item.Count;
        }
        else if (item.Product.CategoryId == 2)
        {
            winetotalsalecount += item.SalePrice*item.Count;
        }
        else if (item.Product.CategoryId == 3)
        {
            liquortotalsalecount += item.SalePrice*item.Count;
        }
        else if (item.Product.CategoryId == 4)
        {
            extratotalsalecount += item.SalePrice*item.Count;
        }
    }
    //WEBSITE VISITOR BY MONTHS 
    int januaryvisitor = Model.JanuaryVisitors.Count();
    int februaryvisitor = Model.FebruaryVisitors.Count();
    int marchvisitor = Model.MarchVisitors.Count();
    int aprilvisitor = Model.AprilVisitors.Count();
    int mayvisitor = Model.MayVisitors.Count();
    int junevisitor = Model.JuneVisitors.Count();
    int julyvisitor = Model.JulyVisitors.Count();
    int augustvisitor = Model.AugustVisitors.Count();
    int septembervisitor = Model.SeptemberVisitors.Count();
    int octobervisitor = Model.OctoberVisitors.Count();
    int novembervisitor = Model.NovemberVisitors.Count();
    int decembervisitor = Model.DecemberVisitors.Count();


}
<div class="container-fluid">

    <!--Start Dashboard Content-->

    <div class="card mt-3">
        <div class="card-content">
            <div class="row row-group m-0">
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@Model.TotalOrders.Count() <span class="float-right"><i class="fa fa-shopping-cart"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@orderpercent%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Total Orders <span class="float-right">+@orderpercent.ToString("00")% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@totalsale.ToString("0.00") <span class="float-right"><i class="fa fa-usd"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@salepercent%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Total Sale <span class="float-right">+@salepercent.ToString("00")% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@Model.TotalVisitors.Count() <span class="float-right"><i class="fa fa-eye"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@visitor%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Visitors <span class="float-right">+@visitor.ToString("00")% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@Model.TotalMessages.Count() <span class="float-right"><i class="fa fa-envira"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@messages%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Messages <span class="float-right">+@messages.ToString("00")% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    Site Traffic
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Website Visitor</li>
                    </ul>
                    <div class="chart-container-1">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>

                <div class="row m-0 row-group text-center border-top border-light-3">
                    <div class="col-12 col-lg-4">
                        <div class="p-3">
                            <h5 class="mb-0">@Model.TotalVisitors.Count()</h5>
                            <small class="mb-0">Overall Visitor <span> <i class="fa fa-arrow-up"></i> @visitor%</span></small>
                        </div>
                    </div>
                    @*<div class="col-12 col-lg-4">
                    <div class="p-3">
                        <h5 class="mb-0">245.65</h5>
                        <small class="mb-0">Pages/Visit <span> <i class="fa fa-arrow-up"></i> 5.62%</span></small>
                    </div>
                 </div>*@
                </div>

            </div>
        </div>

        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    Product Categories
                </div>
                <div class="card-body">
                    <div class="chart-container-2">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-circle text-white mr-2"></i> Beer</td>
                                <td>$@beertotalsalecount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-1 mr-2"></i>Wine</td>
                                <td>$@winetotalsalecount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-2 mr-2"></i>Liquor</td>
                                <td>$@liquortotalsalecount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-3 mr-2"></i>Extra</td>
                                <td>$@extratotalsalecount.ToString("0.00")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--End Row-->

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Recent Order Tables
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Photo</th>
                                <th>Product ID</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Shipping</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var recentordercount = 0;}
                            @foreach (var order in Model.RecentOrders)
                            {
                                @foreach (var orderitem in order.OrderItems)
                                {
                                    recentordercount++;
                                    if (recentordercount<8)
                                    {
                                        <tr>
                                            <td>@orderitem.Product.Name</td>
                                            <td><img src="~/uploads/products/@orderitem.Product.Image" class="product-img" alt="product img"></td>
                                            <td>#@orderitem.Product.Id</td>
                                            <td>$ @(orderitem.SalePrice*orderitem.Count)</td>
                                            <td>@order.CreatedAt.ToString("dd MMMM yyyy")</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: @((int)order.Status == 1 ? "25" : (int)order.Status == 2 ? "50" : (int)order.Status == 3 ? "0" : (int)order.Status == 4 ? "0" : (int)order.Status == 5 ? "75" : (int)order.Status == 6 ? "100":"")%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--End Row-->
    <!--End Dashboard Content-->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>
@section ScriptsAdmin{
   <script>
       $(function () {
           "use strict";

           // chart 1

           var ctx = document.getElementById('chart1').getContext('2d');

           var myChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct","Nov","Dec"],
                   datasets: [{
                       label: 'New Visitor',
                       data: [@januaryvisitor, @februaryvisitor, @marchvisitor, @aprilvisitor, @mayvisitor, @junevisitor, @julyvisitor, @augustvisitor, @septembervisitor, @octobervisitor, @novembervisitor , @decembervisitor],
                       backgroundColor: "rgba(255, 255, 255, 0.25)",
                       borderColor: "transparent",
                       pointRadius: "0",
                       borderWidth: 1
                   }]
               },
               options: {
                   maintainAspectRatio: false,
                   legend: {
                       display: false,
                       labels: {
                           fontColor: '#ddd',
                           boxWidth: 40
                       }
                   },
                   tooltips: {
                       displayColors: false
                   },
                   scales: {
                       xAxes: [{
                           ticks: {
                               beginAtZero: true,
                               fontColor: '#ddd'
                           },
                           gridLines: {
                               display: true,
                               color: "rgba(221, 221, 221, 0.08)"
                           },
                       }],
                       yAxes: [{
                           ticks: {
                               beginAtZero: true,
                               fontColor: '#ddd'
                           },
                           gridLines: {
                               display: true,
                               color: "rgba(221, 221, 221, 0.08)"
                           },
                       }]
                   }

               }
           });


           // chart 2

           var ctx = document.getElementById("chart2").getContext('2d');
           var myChart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                   labels: ["Beer", "Wine", "Liquor", "Extra"],
                   datasets: [{
                       backgroundColor: [
                           "#ffffff",
                           "rgba(255, 255, 255, 0.70)",
                           "rgba(255, 255, 255, 0.50)",
                           "rgba(255, 255, 255, 0.20)"
                       ],
                       data: [@beercount, @winecount, @liquorcount, @extracount],
                       borderWidth: [0, 0, 0, 0]
                   }]
               },
               options: {
                   maintainAspectRatio: false,
                   legend: {
                       position: "bottom",
                       display: false,
                       labels: {
                           fontColor: '#ddd',
                           boxWidth: 15
                       }
                   }
                   ,
                   tooltips: {
                       displayColors: false
                   }
               }
           });

       });

   </script>
}