@model ShopViewModel

@{
    ViewData["Title"] = "Drizly: Shop: "+Model.Category.Name;
    int countrycounter=0;
}
<main>
    <!-- Shop Hero Section -->
    <section class="shop-hero">
        <div class="shop-product-content">
            <h1 class="shop-header">Shop @Model.Category.Name</h1>
            <p class="shop-desc">Then get it delivered in under 60 minutes. Boom, simple.</p>
            <span><a asp-controller="home" asp-action="index">Home</a> / @Model.Category.Name</span>
        </div>
        <div class="shop-hero-image">
            <img src="~/uploads/categories/@Model.Category.Image">
        </div>
        <svg class="shop-image-line" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#f7f7f7" points="100,0 75,100 100,100"></polygon>
            <polygon fill="#E12C2C" points="100,0 95,0 75,100 80,100"></polygon>
        </svg>
    </section>
    <!-- Product Categories Section -->
    <section class="product-categories">
        <div class="category-wrapper">
            <div class="categories-shop">
                <div class="category-header">
                    <h2>@Model.Category.Name</h2>
                    <div class="filter-btn-mobile">
                        <button>
                            <span>
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="categories-tags">
                    <ul class="category-list">
                        @if (Model.TypeProducts.Count() < 7)
                        {
                            @foreach (var item in Model.TypeProducts)
                            {
                                <li>
                                    <a asp-controller="shoppaginated" asp-action="index" asp-route-id="@item.Id"><button><span>@item.Name</span></button></a>
                                </li>
                            }
                        }
                        else
                        {
                            @for (int i = 0; i < 6; i++)
                            {
                                <li>
                                    <a asp-controller="shoppaginated" asp-action="index" asp-route-id="@Model.TypeProducts[i].Id"><button><span>@Model.TypeProducts[i].Name</span></button></a>
                                </li>
                            }
                        }
                    </ul>
                    <button class="more-filter" type="button"><span>More Filters</span></button>
                </div>
            </div>
        </div>
    </section>
    <!-- Products Slider Section -->
    <section class="products-slider-section">
        <div class="products-container">
            <div class="products-shop">
                <!-- Promotion Here -->
                <div class="promotion-wrapper">
                    <a href="#">
                        <img src="https://drizly.flavedo.io./citrus/O-V0_BMPYy_oTcZkDVGzxQZgqoEPi6e-VtBy7CRsl_I=" alt="promotion">
                    </a>
                </div>
                <ul class="products-slider">
                    @foreach (var category in Model.TypeProducts)
                    {
                        if (category.Products.Count != 0)
                        {
                            <li class="category-slide">
                                <div class="category-name">
                                    <p>@category.Name</p>
                                    <a href="#">View All</a>
                                </div>
                                <div class="drinks-slider-wrapper">
                                    <ul class="drink-slider">
                                        @foreach (var product in Model.Products)
                                        {
                                            @if (category.Id == product.TypeProductId)
                                            {
                                                var result = 0;
                                                decimal end = 0;
                                                foreach (var comment in product.ProductComments)
                                                {
                                                    result += @comment.Rate;
                                                }
                                                if (result != 0)
                                                {
                                                    end = decimal.Divide(result, product.ProductComments.Count);
                                                }
                                                <li class="drink-slides">
                                                    <div class="whole-product-slide">
                                                        <div class="drink-slide-info">
                                                            <a  asp-controller="shop" asp-action="detail" asp-route-id="@product.Id" style="text-align: center">
                                                                <div class="drink-on-sale">On Sale</div>
                                                                <img src="~/uploads/products/@product.Image">
                                                            </a>
                                                            <div class="drink-name">
                                                                <p>@product.Name</p>
                                                            </div>
                                                            <div class="drink-price">
                                                                <p class="old-price-wrapper">$<span class="price-old">@product.SalePrice</span></p>
                                                                <p class="regular-price-wrapper">$<span class="price-regular">6.99</span></p>
                                                            </div>
                                                            <div class="drink-rate">
                                                                @{ var tamhisse = Math.Truncate(end);
                                                                    var yuvarlaq = Math.Ceiling(end);}
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    if (end >= i)
                                                                    {
                                                                        <i class="fas fa-star"></i>
                                                                    }
                                                                    else if (tamhisse < end && (yuvarlaq == tamhisse || yuvarlaq == i))
                                                                    {
                                                                        <i class="bi bi-star-half"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa fa-star-o"></i>
                                                                    }
                                                                }
                                                                <span class="review-count">@product.ProductComments.Count</span>
                                                            </div>
                                                        </div>
                                                        <div class="add-to-basket">
                                                            <a class="basket-icon basket-add" asp-controller="shop" asp-action="AddBasket" asp-route-id="@product.Id"><i class="fas fa-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <div class="promotion-wrapper">
                    <a href="#">
                        <img src="https://drizly.flavedo.io./citrus/RwWybt_mQl9XT2LMkzsqxVOfzwDX7-uylKmMIlX-fi4=" alt="promotion">
                    </a>
                </div>
            </div>
            <div class="products-about">
                <div class="category-about-content">
                    <h2>All About @Model.Category.Name</h2>
                    <h3>Types of beers you should try at least once in your life</h3>
                    <p class="show-more-less-category category-content">
                        @Model.Category.Desc
                    </p>
                </div>
                <div class="category-about-show-more">
                    <button type="submit" class="category-show-more-btn">Show More</button>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Filter SideBar Modal -->
<div class="filter-body">
    <div class="filter-overlay"></div>
    <div class="filter-sidebar">
        <div class="filter-wrapper">
            <h3>
                <button class="exit-filter-sidebar"><i class="fas fa-times"></i></button>
                Filter
            </h3>
            <div class="single-block">
                <form id="filterForm" method="get">
                </form>
            </div>
            <div class="filter-side">
                <button class="filter-list-button">
                    <div class="filter-list">
                        <p>Categories</p>
                        <h5 class="filter-plus-minus">-</h5>
                    </div>
                </button>
                <div class="filter-side-dropdown">
                    <ul class="filters-ul">

                        @foreach (var types in Model.TypeProducts)
                        {
                            <a class="filter-link">
                            <li>
                                <div class="form-check">
                                    <input form="filterForm" type="radio">
                                    <p class="filter-name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@types.Name</p>
                                    <p class="filter-count">(<span>@types.Products.Count</span>)</p>
                                </div>
                            </li>
                            </a>
                            }
                        </ul>
                    <button class="show-more">More</button>
                </div>
            </div>
            <div class="filter-side">
                <button class="filter-list-button">
                    <div class="filter-list">
                        <p>Country Of Origin</p>
                        <h5 class="filter-plus-minus">-</h5>
                    </div>
                </button>
                <div class="filter-side-dropdown">
                    <ul class="filters-ul">
                        @*@foreach (var country in Model.Countries)
                        {
                            @if (country.Products.Count > 0)
                            {
                                <a class="filter-link">
                                <li>
                                    <div class="form-check">
                                        <input form="filterForm" type="checkbox">
                                        <p class="filter-name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@country.Name</p>
                                        <p class="filter-count">(<span>@country.Products.Count</span>)</p>
                                    </div>
                                </li>
                                </a>
                            }
                        }*@
                        @foreach (var country in Model.Countries)
                        {
                           @foreach (var products in Model.Products)
                           {
                               if (country.Id==products.CountryId)
                               {
                                   countrycounter++;
                               }
                           }
                            if (country.Products.Count>0)
                            {
                                 <a class="filter-link">
                                <li>
                                    <div class="form-check">
                                        <input form="filterForm" type="checkbox">
                                        <p class="filter-name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@country.Name</p>
                                        <p class="filter-count">(<span>@countrycounter</span>)</p>
                                    </div>
                                </li>
                                </a>
                            }
                        }
                    </ul>
                    <button class="show-more">More</button>
                </div>
            </div>
            <div class="filter-side">
                <button class="filter-list-button">
                    <div class="filter-list">
                        <p>Brand</p>
                        <h5 class="filter-plus-minus">-</h5>
                    </div>
                </button>
                <div class="filter-side-dropdown">
                    <ul class="filters-ul">
                        @foreach (var brand in Model.Brands)
                        {
                            if (brand.Products.Count > 0)
                            {
                                //if (brand.Products. )
                                //{

                                //}
                                <a class="filter-link">
                                <li>
                                    <div class="form-check">
                                        <input form="filterForm" type="checkbox">
                                        <p class="filter-name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@brand.Name</p>
                                        <p class="filter-count">(<span>@brand.Products.Count</span>)</p>
                                    </div>
                                </li>
                                </a>
                            }
                        }
                    </ul>
                    <button class="show-more">More</button>
                </div>
            </div>
            <div class="filter-side" style="height: 137px;">
                <button class="filter-list-button">
                    <div class="filter-list mb-3">
                        <p>Filter by ABV</p>
                    </div>
                </button>
                <div class="sidebar-body">
                    <div class="abv-range-wrap">
                        <div class="abv-range" data-min="0" data-max="100"></div>
                        <div class="range-slider-abv">
                            <form action="#">
                                <div class="abv-input">
                                    <label for="amountabvmobile">ABV: </label>
                                    <input type="text" id="amountabvmobile">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-side">
                <button class="filter-list-button">
                    <div class="filter-list mb-3">
                        <p>Filter by Price</p>
                    </div>
                </button>
                <div class="sidebar-body">
                    <div class="price-range-wrap">
                        <div class="price-range" data-min="20" data-max="400"></div>
                        <div class="range-slider">
                            <form action="#">
                                <div class="price-input">
                                    <label for="amountmobile">Price: </label>
                                    <input type="text" id="amountmobile">
                                </div>
                                <button class="filter-btn mb-2">filter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/Js/pricerange.js"></script>
    <script src="~/assets/Js/slickslider.js"></script>
}
<style>
    .drink-rate i {
        line-height: 0 !important;
    }

    .drink-rate i::before {
        line-height: 0 !important;
    }
    .drink-rate .bi-star-half{
        font-size: 16px;
    }
</style>
