@model ForgotPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot Password?";
}
@using DrizlyBackEnd.Services
@inject LayoutService layoutService
@{
    var settings = layoutService.GetSettings();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jquery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <!-- My Script -->
    <script src="~/assets/Js/main.js" defer></script>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My Css -->
    <link rel="stylesheet" href="~/assets/Css/style.css">
    <!-- Fav Ico -->
    <link rel="icon" type="image/x-icon" href="~/assets/Media/drizlyfavico.ico">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto+Slab:wght@500;600&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <title>Drizly: Login</title>
</head>
<body>
    <!-- Loading Start -->
    <div id="loadingwrapper">
    </div>
    <!-- Header Start -->
    <header id="navbarlogin">
        <div class="navbar-sections-login">
            <nav class="navbar-links navbar-leftside">
                <ul class="navbar-left-ul">
                    <li class="navbar-left-li">
                        <a asp-controller="home" asp-action="index" class="drizlybearlink">
                            <img src="~/uploads/settings/@settings["HeaderLogo"]">
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <main class="register-main login-main">
        <div class="register-wrapper">
            <h1>Forgot Password ?</h1>
            <form class="register-form" asp-action="forgotpassword" method="post">
                <div class="form-group">
                    <label asp-for="Email">Use your E-mail to get your account back</label>
                    <input type="email" placeholder="Email" class="form-control" asp-for="Email" required />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mt-2">Send</button>
            </form>
        </div>
    </main>
    <!-- Footer Start here -->
    <footer class="container-fluid">
        <div class="row">
            <div class="footer-cols follow">
                <h6>Follow Us</h6>
                <ul class="footer-links">

                    <li>
                        <a target="_blank" href="@settings["FooterFacebook"]"><i class="fa fa-facebook" aria-hidden="true"></i></i></atarget="_blank">
                    </li>
                    <li>
                        <a target="_blank" href="@settings["FooterTwitter"]"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="@settings["FooterInstagram"]"><i class="fa fa-instagram" aria-hidden="true"></i></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="@settings["FooterPinterest"]"><i class="fa fa-pinterest" aria-hidden="true"></i></i></a>
                    </li>
                </ul>
                <h6>Get the App</h6>
                <ul class="footer-links">
                    <li>
                        <a target="_blank" href="@settings["FooterIosApp"]"><i class="fa fa-apple" aria-hidden="true"></i></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="@settings["FooterAndroidApp"]"><i class="fa fa-android" aria-hidden="true"></i></i></a>
                    </li>
                </ul>
                <h6>Payment Options</h6>
                <ul class="footer-links">
                    <li>
                        <i class="fa fa-cc-visa" aria-hidden="true"></i></i>
                    </li>
                    <li>
                        <i class="fab fa-cc-amex"></i>
                    </li>
                    <li>
                        <i class="fab fa-cc-mastercard"></i>
                    </li>
                    <li>
                        <i class="fab fa-cc-discover"></i>
                    </li>
                </ul>
            </div>
            <div class="footer-cols about">
                <h6>About</h6>
                <ul class="footer-uls">
                    <li>
                        <a asp-controller="aboutus" asp-action="index">About Us</i></a>
                    </li>
                    <li>
                        <a asp-controller="aboutus" asp-action="index">Our Team</i></a>
                    </li>
                    <li>
                        <a asp-controller="contactus" asp-action="index">Contact Us</i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-cols get-in-touch">
                <h6>Our Products</h6>
                <ul class="footer-uls">
                    <li>
                        <a asp-controller="shop" asp-action="index" asp-route-id="1">Beer</i></a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-action="index" asp-route-id="2">Wine</i></a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-action="index" asp-route-id="3">Liquor</i></a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-action="index" asp-route-id="4">Extra</i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-cols partner">
                <h6>Get in Touch</h6>
                <ul class="footer-uls">
                    <li>
                        <p>E-Mail : @settings["Email"]</p>
                    </li>
                    <li>
                        <p>Phone : @settings["Phone"]</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="footer-cols politics">
                <p class="drizlyrights">© Drizly All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/51866e0675.js" crossorigin="anonymous"></script>
@*Toastr Script*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    $(document).ready(function () {
        if ($("#success-toaster").length) {
            toastr["success"]($("#success-toaster").val());
        }
    });
</script>
</html> 


