@model MemberProfileViewModel
@{
    ViewData["Title"] = "Welcome "+Model.Member.FullName;
    int orderCounter = 0;
    int orderItemCounter = 0;
}
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">My Account</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Account</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- my account wrapper start -->
    <div class="my-account-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="#dashboad" id="dashboard" class="active tab-naviagtion__item" data-toggle="tab"><i class="fa fa-dashboard"></i>Dashboard</a>
                                    <a href="#orders" id="orders" class="tab-naviagtion__item" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                    <a href="#address-edit" id="address-edit" class="tab-naviagtion__item" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>
                                    <a href="#account-info" id="account-info" class="tab-naviagtion__item" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>
                                    <a class="logout-user" asp-controller="account" asp-action="logout"><i class="fa fa-sign-out"></i> Logout</a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane  dashboard-content fade show active" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Dashboard</h3>
                                            <div class="welcome">
                                                <p>Hello, <strong>@Model.Member.FullName</strong> (If Not <strong>@Model.Member.FullName !</strong><a class="logout-user" asp-controller="account" asp-action="logout" class="logout"> Logout</a>)</p>
                                            </div>
                                            <p class="mb-0">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade orders-content" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Orders</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Order Id</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model.Orders)
                                                        {
                                                            orderItemCounter = 0;
                                                            orderCounter++;
                                                            <tr>
                                                                <td>@orderCounter</td>
                                                                <td>@order.Id</td>
                                                                <td>@order.CreatedAt.ToString("MMMM dd, yyyy")</td>
                                                                <td>@order.Status</td>
                                                                <td>$@order.TotalPrice</td>
                                                                <td><a role="button" class="btn vieworderbtn "><span class="text-white">View</span></a></td>
                                                            </tr>

                                                            <tr class="orderdetailbody" style="display:none;">
                                                                <td colspan="12">
                                                                    <div>
                                                                        <table class="table table-striped">
                                                                            <thead>
                                                                                <tr class="info">
                                                                                    <th>#</th>
                                                                                    <th>Product Image</th>
                                                                                    <th>Product Name</th>
                                                                                    <th>Count</th>
                                                                                    <th>Unit price</th>
                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>

                                                                                @foreach (var orderItem in order.OrderItems)
                                                                                {
                                                                                    orderItemCounter++;
                                                                                    <tr>
                                                                                        <td>@orderItemCounter</td>
                                                                                        <td><img  width="40" style="border-radius:0;" src="~/uploads/products/@orderItem.Product.Image"/></td>
                                                                                        <td>@orderItem.Product.Name</td>
                                                                                        <td>@orderItem.Count </td>
                                                                                        <td>@orderItem.DiscountedPrice</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade address-edit-content" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Billing Address</h3>
                                            <address>
                                                <p><strong>@Model.Member.FullName</strong></p>
                                                <p>
                                                   @(Model.Member.Address == null ? "address empty" : Model.Member.Address) <br>
                                                    @(Model.Member.City == null ? "city empty" : Model.Member.City), @(Model.Member.Country == null ? "country empty" : Model.Member.Country)
                                                </p>
                                                <p>Mobile: @(Model.Member.Phone == null ? "xxx-xx-xx" : Model.Member.Phone)</p>
                                            </address>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade account-info-content" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Account Details</h3>
                                            <div class="user-image-container" style="position:relative">
                                                <img class="profile-picture" width="150" height="150" src="/uploads/users/@(Model.Member.Image==null?"avatar.png":Model.Member.Image)" alt="profile-picture">
                                                @if (Model.Member.Image != null)
                                                {
                                                    <i class="fas fa-times remove-img-box" style="position: absolute;left: 0px;top: 5px; color: red; font-size:17px;cursor: pointer;"></i>
                                                    <input type="hidden" name="Image" value="@Model.Member.Image" />
                                                }
                                            </div>
                                           
                                            <h2>@Model.Member.UserName a.k.a @Model.Member.FullName, @Model.Member.Age years old @(Model.Member.Country==null || Model.Member.City==null ?"":"from "+Model.Member.City+", "+Model.Member.Country)</h2>
                                            <div class="account-details-form">
                                                @Html.Partial("_MemberAccountUpdatePartialView", Model.Member)
                                            </div>
                                        </div>
                                    </div> <!-- Single Tab Content End -->
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>
    <!-- my account wrapper end -->
</main>
